body {
    background-color: rgb(200, 255, 0);
}

h1 {
    text-align: center;
    font-size: 3.2em;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    height: 50px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

button {
    width: 100px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}

.rgb-btn {
    background: linear-gradient(to right, #ff8daf, #6aff5d, #7174ff)
}

.color-pick {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

#color {
    width: 80px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    box-shadow: 5px 5px;
    outline: none;
}